<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carousel Slider</title>
  </head>

  <body>
    <div id="app">
      <!-- Carousel slider -->
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <!-- elements with  "swiper-carousel-animate-opacity" class will have animated opacity -->
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/guardians-of-the-galaxy.jpg" alt="" />
              <div class="slide-content">
                <h2>Guardians Of The Galaxy</h2>
                <p>
                  A group of intergalactic criminals must pull together to stop
                  a fanatical warrior with plans to purge the universe.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/justice-league.jpg" alt="" />
              <div class="slide-content">
                <h2>Justice League</h2>
                <p>
                  Determined to ensure Superman's ultimate sacrifice was not in
                  vain, Bruce Wayne aligns forces with Diana Prince with plans
                  to recruit a team of metahumans to protect the world from an
                  approaching threat of catastrophic proportions.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/spider-man.jpg" alt="" />
              <div class="slide-content">
                <h2>Spider-Man: Far from Home</h2>
                <p>
                  Following the events of Avengers: Endgame (2019), Spider-Man
                  must step up to take on new threats in a world that has
                  changed forever.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/suicide-squad.jpg" alt="" />
              <div class="slide-content">
                <h2>The Suicide Squad</h2>
                <p>
                  Supervillains Harley Quinn, Bloodsport, Peacemaker and a
                  collection of nutty cons at Belle Reve prison join the
                  super-secret, super-shady Task Force X as they are dropped off
                  at the remote, enemy-infused island of Corto Maltese.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/thor-ragnarok.jpg" alt="" />
              <div class="slide-content">
                <h2>Thor: Ragnarok</h2>
                <p>
                  Imprisoned on the planet Sakaar, Thor must race against time
                  to return to Asgard and stop Ragnarök, the destruction of his
                  world, at the hands of the powerful and ruthless villain Hela.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/dr-strange.jpg" alt="" />
              <div class="slide-content">
                <h2>Doctor Strange</h2>
                <p>
                  America Chavez and a version of Stephen Strange are chased by
                  a demon in the space between universes while searching for the
                  Book of Vishanti
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/eternals.jpg" alt="" />
              <div class="slide-content">
                <h2>Eternals</h2>
                <p>
                  In 5000 BC, ten superpowered Eternals—Ajak, Sersi, Ikaris,
                  Kingo, Sprite, Phastos, Makkari, Druig, Gilgamesh, and
                  Thena—are sent by the Celestial Arishem to Earth on their
                  starship, the Domo, to exterminate the invasive Deviants.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <!-- elements with  "swiper-carousel-animate-opacity" class will have animated opacity -->
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/guardians-of-the-galaxy.jpg" alt="" />
              <div class="slide-content">
                <h2>Guardians Of The Galaxy</h2>
                <p>
                  A group of intergalactic criminals must pull together to stop
                  a fanatical warrior with plans to purge the universe.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/justice-league.jpg" alt="" />
              <div class="slide-content">
                <h2>Justice League</h2>
                <p>
                  Determined to ensure Superman's ultimate sacrifice was not in
                  vain, Bruce Wayne aligns forces with Diana Prince with plans
                  to recruit a team of metahumans to protect the world from an
                  approaching threat of catastrophic proportions.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/spider-man.jpg" alt="" />
              <div class="slide-content">
                <h2>Spider-Man: Far from Home</h2>
                <p>
                  Following the events of Avengers: Endgame (2019), Spider-Man
                  must step up to take on new threats in a world that has
                  changed forever.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/suicide-squad.jpg" alt="" />
              <div class="slide-content">
                <h2>The Suicide Squad</h2>
                <p>
                  Supervillains Harley Quinn, Bloodsport, Peacemaker and a
                  collection of nutty cons at Belle Reve prison join the
                  super-secret, super-shady Task Force X as they are dropped off
                  at the remote, enemy-infused island of Corto Maltese.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/thor-ragnarok.jpg" alt="" />
              <div class="slide-content">
                <h2>Thor: Ragnarok</h2>
                <p>
                  Imprisoned on the planet Sakaar, Thor must race against time
                  to return to Asgard and stop Ragnarök, the destruction of his
                  world, at the hands of the powerful and ruthless villain Hela.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/dr-strange.jpg" alt="" />
              <div class="slide-content">
                <h2>Doctor Strange</h2>
                <p>
                  America Chavez and a version of Stephen Strange are chased by
                  a demon in the space between universes while searching for the
                  Book of Vishanti
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-carousel-animate-opacity">
              <img src="./images/eternals.jpg" alt="" />
              <div class="slide-content">
                <h2>Eternals</h2>
                <p>
                  In 5000 BC, ten superpowered Eternals—Ajak, Sersi, Ikaris,
                  Kingo, Sprite, Phastos, Makkari, Druig, Gilgamesh, and
                  Thena—are sent by the Celestial Arishem to Earth on their
                  starship, the Domo, to exterminate the invasive Deviants.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
    <script type="module" src="/main.js"></script>
  </body>
</html>
