<div id="app">
  <!-- Carousel slider -->
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <!-- elements with  "swiper-carousel-animate-opacity" class will have animated opacity -->
        <a href="https://yelpbot.genie.stanford.edu/">
          <div
            class="swiper-carousel-animate-opacity flex flex-col items-center"
          >
            <img src="src/assets/images/yelpbot-fig-final.png" alt="" />
            <div class="max-w-xl mt-2 flex flex-col items-center">
              <p class="text-2xl text-center font-semibold">
                Search stuctured and unstructured data using natural language in
                <span class="font-bold" style="color: rgb(var(--accent))"
                  >YelpBot</span
                >
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://wikichat.genie.stanford.edu/">
          <div
            class="swiper-carousel-animate-opacity flex flex-col items-center"
          >
            <img src="src/assets/images/wikichat-fig.png" alt="" />
            <div class="max-w-xl mt-2 flex flex-col items-center">
              <p class="text-2xl text-center font-semibold">
                Remove hallucination by querying out for claims and synthesizing
                the data with
                <span class="font-bold" style="color: rgb(var(--accent))"
                  >WikiChat</span
                >
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="swiper-slide">
        <a href="/projects#Noora">
          <div
            class="swiper-carousel-animate-opacity flex flex-col items-center"
          >
            <img src="src/assets/images/noora-fig-final.png" alt="" />
            <div class="max-w-xl mt-2 flex flex-col items-center">
              <p class="text-2xl text-center font-semibold">
                Users can receive feedback on drills to practice social
                conversation with
                <span class="font-bold" style="color: rgb(var(--accent))"
                  >Noora</span
                >
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="swiper-slide">
        <a href="https://storm.genie.stanford.edu/">
          <div
            class="swiper-carousel-animate-opacity flex flex-col items-center"
          >
            <img src="src/assets/images/storm-fig-final.png" alt="" />
            <div class="max-w-xl mt-2 flex flex-col items-center">
              <p class="text-2xl text-center font-semibold">
                Surf the web on any topic and receive a generated outline
                covering different viewpoints with
                <span class="font-bold" style="color: rgb(var(--accent))"
                  >STORM</span
                >
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="src/components/Swiper/swiper.css" />
<link rel="stylesheet" href="src/components/Blob/blob.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="src/dist/effect-carousel.min.js"></script>
<script src="src/components/Swiper/swiper.js"></script>
