---
---

<div class="swiper">
  <div class="swiper-wrapper mt-10" data-cursor="swipe">
    <div class="swiper-slide">
      <a href="https://storm.genie.stanford.edu/">
        <div class="hover:brightness-95 swiper-carousel-animate-opacity flex flex-col items-center">
          <img src="/assets/images/storm.png" alt="" />
          <div class="max-w-6xl mt-2 flex flex-col items-center">
            <p class="text-2xl text-center font-semibold" style="color: #444444">
              Surf the web on any topic and receive a generated outline covering
              different viewpoints with STORM
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="swiper-slide">
      <a href="https://wikichat.genie.stanford.edu/">
        <div class="hover:brightness-95 swiper-carousel-animate-opacity flex flex-col items-center">
          <img src="/assets/images/wikichat.png" alt="" />
          <div class="max-w-6xl mt-2 flex flex-col items-center">
            <p class="text-2xl text-center font-semibold" style="color: #444444">
              Stop the hallucination of large language models with WikiChat
            </p>
          </div>
        </div>
      </a>
    </div>

  <div class="swiper-slide">
      <a href="https://spinach.genie.stanford.edu/">
        <div class="hover:brightness-95 swiper-carousel-animate-opacity flex flex-col items-center">
          <img src="/assets/images/spinach.png" alt="" />
          <div class="max-w-6xl mt-2 flex flex-col items-center">
            <p class="text-2xl text-center font-semibold" style="color: #444444">
              Access Wikidata and write complex SPARQL queries with Spinach
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="swiper-slide">
      <a href="https://ws.genie.stanford.edu/">
        <div class="hover:brightness-95 swiper-carousel-animate-opacity flex flex-col items-center">
          <img src="/assets/images/genie_worksheets.png" alt="" />
          <div class="max-w-6xl mt-2 flex flex-col items-center">
            <p class="text-2xl text-center font-semibold" style="color: #444444">
              Build controllable and reliable conversational agents with declarative GenieWorksheets
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="swiper-slide">
      <a href="/projects#Noora">
        <div class="hover:brightness-95 swiper-carousel-animate-opacity flex flex-col items-center">
          <img src="/assets/images/noora.png" alt="" />
          <div class="max-w-6xl mt-2 flex flex-col items-center">
            <p class="text-2xl text-center font-semibold" style="color: #444444">
              Users can receive feedback on drills to practice social
              conversation with Noora
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="swiper-slide">
      <a href="https://yelpbot.genie.stanford.edu/">
        <div class="hover:brightness-95 swiper-carousel-animate-opacity flex flex-col items-center">
          <img src="/assets/images/yelpbot.png" alt="" />
          <div class="max-w-6xl mt-2 flex flex-col items-center">
            <p class="text-2xl text-center font-semibold" style="color: #444444">
              Search stuctured and unstructured data using natural language in
              YelpBot
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<script>
  import "../Swiper/swiper.css";
  import EffectCarousel from "../Swiper/effectcarousel.js";
  import Swiper from "swiper";
  import { register } from "swiper/element/bundle";
  register();

  const swiper = new Swiper(".swiper", {
    // pass EffectCarousel module to modules
    modules: [EffectCarousel],
    // specify "carousel" effect
    effect: "carousel",
    // carousel effect parameters
    carouselEffect: {
      // opacity change per side slide
      opacityStep: 0.7,
      // scale change per side slide
      scaleStep: 0,
      // amount of side slides visible, can be 1, 2 or 3
      sideSlides: 1,
    },
    grabCursor: true,
    loop: true,
    loopAdditionalSlides: 0,
    slidesPerView: "auto",
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
    },

    autoplay: {
      delay: 4000,
    },
  });
</script>
