---
import Layout from '../layouts/Layout.astro';
import Blob from '../components/Blob/blob.astro';
---

<Layout title="Stanford OVAL — Affiliates">
	<main>
		<div class="mx-8 md:mx-80 pb-24">
		<p class="header mt-10 text-4xl md:text-6xl">OVAL Industrial Affiliates Program</p>
		

		<h4 class=" mt-6 font-semibold " >Objectives</h4>
        <ul class="list-disc ml-6">
            <li>To advance the conversational agent technology through joint projects with 
            corporations. This includes research projects as well as case studies.</li>

            <li>To disseminate knowledge and to facilitate technology transfer to companies.</li>
        </ul> 

		<hr class="h-px my-8 opacity-10 bg-black border-0 ">
		<h4 class=" mt-6 font-semibold " >Member Benefits</h4>
		<ol class="list-decimal ml-6">
            <li>Engagement and participation in research in conversational agent technology. 
            Members are invited to send one visitor to Stanford </li>
	        <li>Opportunities to recruit graduates from the lab.</li>
		    <li>The lab will provide engagement on internal projects using our open-source technology.</li>
		    <li>Members will be invited to annual workshops. </li>
        </ol>

        <hr class="h-px my-8 opacity-10 bg-black border-0 ">
        
		<h4 class=" mt-6 font-semibold " >Funding</h4>
		<p>Members of this affiliate program agree to support the research of the laboratory with a membership fee of $250K/year.  
        Memberships are auto-renewed annually for three years. OVAL is a Stanford University
        industrial affiliates program and is subject to university policies for such
        programs including openness in research, publication and broad sharing of
        results, and faculty freedom to pursue research topics and methodology of their choice.</p>

        <p class="mt-4"> Please see the
            <a href="https://doresearch.stanford.edu/policies/research-policy-handbook/definitions-and-types-agreements/establishment-industrial-affiliates-and-related-membership-supported-programs">Stanford University Policies Affecting Industrial Affiliates Program Membership</a> for more details.
        </p>

        <hr class="h-px my-8 opacity-10 bg-black border-0 ">
        
		<h4 class=" mt-6 font-semibold " >IP</h4>
        <p>
            The Open Virtual Assistant Lab Researchers will use and develop open-source software,
            and it is the intention of all Open Virtual Assistant Lab Program researchers that any
            software released will be released under an open source model, such as BSD. The Program is
            open to all Stanford faculty who share this goal.
        </p>

        <hr class="h-px my-8 opacity-10 bg-black border-0 ">
        
		<h4 class=" mt-6 font-semibold " >More Information</h4>
        <p>
            For further information, please contact <a href="mailto: lam@cs.stanford.edu">Monica Lam</a>, the Faculty Lab Director.
        </p>

    
		
	</main>
	
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	a {
		color: rgb(var(--accent-bright));
		font-weight: 600;
	}
	
	.header {
		
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0;
		color: rgb(var(--accent))

	}
	p, li {
		color: rgb(var(--accent))
	}
	h3 {
		font-size: 1rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 15px;
	}
	h4 {
		color: rgb(var(--accent))
	}
	
	
	
</style>


	