---
import Layout from '../layouts/Layout.astro';
import News from '../components/News/News.jsx';
import Swiper from '../components/Swiper/swiper.astro';
import Blob from '../components/Blob/blob.astro';
---

<Layout title="Stanford OVAL — Home">
	<main style="background-color: var(--bg)">
		
		<div class="mx-4 sm:mx-24 pt-5" >
			<p class="header text-4xl sm:text-8xl pt-8 dark:text-black">The Stanford OVAL</p>
			<p class="header text-4xl sm:text-8xl pb-8 ">Knowledge Center</p>
			<p class="mx-4 sm:mx-20 text-xl sm:text-2xl font-medium text-center" style="color:var(--text-off);">
				We build LLM-Augmented Cognition Systems (LLM-CSys) that combine the expressive language skills of LLMs with the interpretability and reliability of software systems. We connect LLMs with databases, compilers, and executive functions to create assistants that are more trustworthy and helpful.
			</p>
		</div>
		
		<div class="flex flex-col sm:flex-row justify-center items-center pt-10 pb-5">
			<div class="blob"> </div>	
			<a href="/projects" class="z-10" >
				<button style="background-color:rgb(var(--accent-pale)); color:rgb(var(--accent-bright))" class="hover:brightness-95 rounded-lg px-7 py-2 mr-5 font-semibold text-center transition" name="Download CV">Try Our Demos</button>
			</a>
			<a href="#about" style="color:rgb(var(--accent-bright))" class="hover:italic flex self-center pt-4 text-lg sm:pt-0 z-10">Learn More About OVAL
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-6 h-6 mt-1">
					<path strokeLinecap="round" strokeLinejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
				</svg>
			</a> 
		</div>
		

		<div class="width ">
			
			<Swiper />
		</div>

		
		<div style="background-color:var(--bg-off)" class="pb-20">
			<div class="mx-4 md:mx-80 pt-24">
				<h3  id="about" class="subheader">ABOUT OUR WORK</h3>
				<div class="mx-0 sm:mx-12 flex-col">
				
					<p class="text-2xl sm:text-4xl font-bold py-4 text-center"> <span><img class="h-8 w-8 inline-block align-top mr-3 opacity-50 " src = "/assets/images/quote-start.svg"/></span> Standalone LLMs are like the speech centers in our brains. They
						rely on the prefrontal cortex for executive functions (attention, long-term planning) to communicate effectively. <span><img class="h-8 w-8 inline-block ml-3 opacity-50" src = "/assets/images/quote-end.svg"/><span></p>
					<p class="text-center font-semibold text-xl sm:text-2xl">- Professor <a href="https://suif.stanford.edu/~lam/" class="z-10 relative font-semibold">Monica Lam</a></h3>
				</div>
			
				<h3 id="talk" class="pt-10 subheader">RECENT TALK</h3>
				
				<div class="pt-4 text-center">
					<a href="https://www.youtube.com/watch?v=Sj4S_eGJitI" class="z-10 relative hover:brightness-95">
						<img class="mx-auto h-auto w-11/12 sm:w-8/12 rounded-3xl" src="/assets/images/monica-talk.png"/>
					</a>
				</div>
				
				<a href=https://www.youtube.com/watch?v=Sj4S_eGJitI" ><p class="text-center font-semibold texl-base sm:text-2xl pt-4 pb-2" style="color:rgb(var(--accent-bright))">"Controlling and Grounding Large Language Models for Conversational Assistants"</p></a> 
				<p class="text-sm sm:text-lg text-center">Generative AI and Foundation Models Workshop, Stanford Computer Forum, April 12, 2023</p>
			
				<hr class="h-px my-12 sm:my-8 mx-0 sm:mx-80 bg-gray-200 border-0 dark:bg-gray-700">
				<p class="mt-6 font-400" > We invite students, researchers, and corporations to <a href="/joinus" class="font-bold hover:italic" style="color:rgb(var(--accent-bright))">join us</a> to advance the state of the art in conversational agents research and to apply the technology to real-world use cases.</p>

				<div style="border-color:rgb(var(--accent))"  class="mt-12 border shadow-lg shadow-indigo-500/50 rounded-xl border-black border-4 p-8">
				<h4 class=" font-semibold">News</h4>
				<News client:load />
				</div>
			<div>
			<h4 class="mt-12 font-semibold">Acknowledgement</h4>
			<p>OVAL acknowledges the support of the National Science Foundation, the Alfred P. Sloan Foundation, the Verdant Foundation, Microsoft Azure Cloud Credits, KDDI, Sony Playstation, JP Morgan Chase Faculty Research Award, HAI Seed Grants, Linux Foundation, and the Open Voice Network. We also want to thank our partners Alpha Vantage, Baidu, Picovoice, Yelp, and You.com for their support.</p>

<!-- under Grant No.<a style="color:rgb(var(--accent-bright))" class="font-semibold hover:italic" href=https://www.nsf.gov/awardsearch/showAward?AWD_ID=1900638&HistoricalAwards=false> 1900638</a>,under Grant No. G-2020-13938, -->
        </div>
		
		
	</main>
	<h1 class="text-3xl font-bold underline">

	</h1>
	
</Layout>

<style>
	main {
		color: var(--text);
		font-size: 20px;
		line-height: 1.6;
	}
	.header {
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0;
		color: var(--text);
		z-index: 1;
	}
	p {
		color: var(--text);
		z-index: 1;
	}
	h3 {
		font-size: 1rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 15px;
		z-index: 1;
	}
	html {
		scroll-behavior: smooth;
	}
</style>


