---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import News from '../components/News/News.jsx';
import DropdownMenu from "../components/dropdown-menu";
import MySwiper from '../components/ProjectSwiper.jsx';
import Swiper from '../components/Swiper/swiper.html';
import Blob from '../components/Blob/index.html';
---

<Layout title="Stanford OVAL Lab">
	<main>
		<div class="mx-24 ">
		<p style="margin-top: 10px" class="header">The Stanford OVAL Lab</p>
		<p class="header"><span class="text-accent">Knowledge Center</span></p>

		<h3  class="subheader">LED BY PROFESSOR MONICA LAM</h3>
		<p style="text-align:center">
			We build LLM-Augmented Cognition Systems (LLM-CSys) that combine the expressive language skills of LLMs with the interpretability and reliability of software systems. We connect LLMs with databases, compilers, and executive functions to create assistants that are more trustworthy and helpful for users.
		</p>

		<div>

		<div class="blob"></div>
   		</div>
		<Swiper client:load />
		</div>

		<div class="flex justify-center align-center mb-20">
			
			<a href="/projects" >
				<button  style="background-color:rgb(var(--accent))" class="rounded-xl px-7 py-2 mr-5 text-center transition text-white"  name="Download CV">Try Our Demos</button>
			</a>
			<a href="#about" style="color:rgb(var(--accent))" class="flex self-center">Learn More About OVAL
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-6 h-6 mt-1">
  				<path strokeLinecap="round" strokeLinejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
			</svg>
			</a> 

        </div>
		<div style="background-color:rgb(var(--accent-off))" class="pb-20">
			<div class="mx-80 pt-24">
				<h3  id="about" class="subheader">ABOUT OUR WORK</h3>
				
				<div class="mx-12 flex-col">
				
				<p class="text-4xl font-bold  text-center"> <span><img class="h-8 w-8 inline-block align-top mr-3 opacity-50 " src = "/assets/images/quote-start.svg"/></span> Standalone LLMs are like the speech centers in our brains. They
				rely on the prefrontal cortex for executive functions (attention, long-term planning) to communicate effectively. <span><img class="h-8 w-8 inline-block ml-3 opacity-50" src = "/assets/images/quote-end.svg"/><span></p>
				<h3  class="subheader">- Professor <a href="https://suif.stanford.edu/~lam/" class="text-white font-semibold">Monica Lam</a></h3>
				</div>
			
				<h4 class="text-white mt-6 font-semibold " >Recent talk</h4>
				
				<div class="text-center">
					<a href="https://www.youtube.com/watch?v=Sj4S_eGJitI">
						<img class="mx-auto h-auto w-6/12 rounded-3xl" src="/assets/images/monica-talk.png"/>
					</a>
				</div>
				

				<a href=https://www.youtube.com/watch?v=Sj4S_eGJitI" ><p style="color:#ffffff" class="text-center font-semibold">"Controlling and Grounding Large Language Models for Conversational Assistants"</p></a> 
				<p class="text-center">Generative AI and Foundation Models Workshop, Stanford Computer Forum, April 12, 2023</p>
			
				<hr class="h-px my-8 mx-80 bg-gray-200 border-0 dark:bg-gray-700">
				<p class="mt-6 font-400" > We invite students, researchers, and corporations to <a href="/joinus" class="font-bold" style="color:white;" >join us</a> to advance the state of the art in conversational agents research and to apply the technology to real-world use cases.</p>

				<div style="border-color:rgb(var(--accent))"  class="mt-12 border shadow-lg shadow-indigo-500/50 rounded-xl border-black border-4 p-8">
				<h4 class="text-white font-semibold">News</h4>
				<News client:load />
				</div>
			<div>
			<h4 class="mt-12 text-white font-semibold">Acknowledgement</h4>
			<p>OVAL is supported by the National Science Foundation under Grant No.<a style="color:#ffffff" class="font-semibold" href=https://www.nsf.gov/awardsearch/showAward?AWD_ID=1900638&HistoricalAwards=false> 1900638</a>, the Alfred P. Sloan Foundation under Grant No. G-2020-13938, Microsoft, and the Verdant Foundation. We also want to thank our partners Alpha Vantage, Baidu, Picovoice, and Yelp for their support.</p>
        </div>
		
		
	</main>
	<h1 class="text-3xl font-bold underline">

	</h1>
	
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.header {
		font-size: 5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0;
		color: #D9C5ED

	}
	p {
		color: #D9C5ED
	}
	h3 {
		font-size: 1rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 15px;
		

	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.text-accent {
		color: rgb(var(--accent));
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.swiper {
		width: 600px;
		height: 300px;
		}
	.subheader {
		font-size: 1.2rem;
		color: #D9C5ED
	}
	html {
		scroll-behavior: smooth;
	}
</style>


