---
import Layout from '../layouts/Layout.astro';
import Blob from '../components/Blob/blob.astro';
---

<Layout title="Stanford OVAL — Join Us">
	<main>
		<div class="mx-8 md:mx-80 pb-24">
		<p class="header mt-10 text-4xl md:text-6xl">Join Us</p>
		

		
			
		<h4 class=" mt-6 font-semibold " >Potential Partners</h4>
		<p>We'd like to hear from you to understand your real-world use cases. We welcome collaboration to experiment with how conversational technology can assist your problems.
		
		We welcome support via gift funds to accelerate our open-source research and to broaden our ability to collaborate and disseminate our results.</p>

		<p class="mt-6">We recommend an annual support of $250,000, the amount of funding needed to support two students a year.

		Any partial funding for the rest of 2023 (e.g. $100,000) is appreciated to fund new students in the upcoming school year.</p>
		<hr class="h-px my-8 opacity-10 bg-black border-0 ">
		<h4 class=" mt-6 font-semibold " >PhD Students</h4>
		<p>We welcome PhD students to join our team! Please contact <a href="https://suif.stanford.edu/~lam/"> Prof. Monica Lam.</a></p>
		<hr class="h-px my-8 opacity-10 bg-black border-0 ">
		<h4 class=" mt-6 font-semibold " >Master's and Undergraduate Students</h4>
		<p>Students interested in joining the Open Virtual Assistant Lab are encouraged to take the CS 224V course (Conversational Virtual Assistants with Deep Learning) offered in the Fall quarter.
		The course provides the background material necessary to conduct research in conversational agents as welll as an opportunity to conduct an independent research project, supervised by Prof. Monica Lam.</p>

		<p class="mt-6">Successful demonstration of independent research capability in the Fall quarter can lead to a Research Assistantship in subsequent quarters.</p>
		
		
	</main>
	
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	a {
		color: rgb(var(--accent-bright));
		font-weight: 600;
	}
	
	.header {
		
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0;
		color: rgb(var(--accent))

	}
	p {
		color: rgb(var(--accent))
	}
	h3 {
		font-size: 1rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 15px;
	}
	h4 {
		color: rgb(var(--accent))
	}
	
	
	
</style>
