---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Blob from '../components/Blob/blob.astro';
---

<Layout title="Stanford OVAL — Projects">
	<main >
		<div class="mx-0 md:mx-24 ">
		<p class="header mt-10 text-4xl md:text-6xl">Projects</p>
		
		<div class="pb-20 mx-4 md:mx-0 mt-10 md:mt-20">

			<Card image_src="/assets/images/storm.png" title="STORM" paper_link="https://arxiv.org/abs/2402.14207" demo_link="https://storm.genie.stanford.edu/" body="Under a context of abundance, a significant disparity exists between the vast amounts of accessible information and what an individual can realistically assimilate. While large language models (LLMs) exhibit impressive generation abilities, they do not directly address this issue and even worsen the situation due to more texts produced. This research project explores building a knowledge curation agent that can proactively research a topic, organize the information, and present the most pertinent insights in a reader-friendly way. Hopefully, STORM can provide a good starting point for knowledge discovery and liberate in-depth learning from the laborious search process."/>
			<div class="mt-10" />

			<Card image_src="/assets/images/wikichat.png" title="WikiChat" paper_link="https://arxiv.org/abs/2305.14292" demo_link="https://wikichat.genie.stanford.edu/" body='Chatbots like ChatGPT are great tools for quick access to knowledge. But they get things wrong a lot, especially if the information you are looking for is recent ("Tell me about the 2024 Super Bowl") or about less popular topics ("What are some good movies to watch from [insert your favorite foreign director]?). WikiChat uses an LLM as its backbone, but it ensures the information it provides comes from a reliable source like Wikipedia, so that its responses are more factual.'  />
			<div class="mt-10" />

			<Card image_src="/assets/images/spinach.png" title="Spinach Agent" paper_link="https://arxiv.org/abs/2407.11417" demo_link="https://spinach.genie.stanford.edu/" body='A new question answering approach that mimics how a human expert would write SPARQLs for Wikidata.'  />
			<div class="mt-10" />

			<Card image_src="/assets/images/yelpbot.png" title="YelpBot (SUQL)" paper_link="https://arxiv.org/abs/2311.09818" demo_link="https://yelpbot.genie.stanford.edu/" body="SUQL stands for Structured and Unstructured Query Language. It augments SQL with several important free text primitives for a precise, succinct, and expressive representation. It can be used to build chatbots for relational data sources that contain both structured and unstructured information. Similar to how text-to-SQL has seen great success, SUQL can be uses as the target language for hybrid databases, for instance, in finding restaurants with both structured data as well as free-text reviews."  />
			<div class="mt-10" />

			<Card image_src="/assets/images/reactgenie.png" title="ReactGenie" paper_link="https://arxiv.org/abs/2306.09649" demo_link="https://jackieyang.me/reactgenie/" body="ReactGenie is a programming framework that enables developers to easily create multimodal applications supporting rich voice and touch interactions. It separates the multimodal input from the computational model, allowing developers to define object-oriented state and UI components. ReactGenie then uses a neural semantic parser to translate user commands into code that composes primitives from the computational model. This allows unprecedented richness in multimodal commands with minimal developer effort compared to traditional frameworks."/>

			<div class="mt-10" />

			<Card image_src="/assets/images/noora.png" title="Noora" misc_text="Medical Trial In Progress" body="People with Autism Spectrum Disorder (ASD) face unique social communication challenges, particularly around nuanced aspects of communication that impact their ability to make friends, have romantic relationships, and secure employment. In fact, the ASD demographic faces the highest unemployment rate among any group with disabilities. While some face-to-face interventions with specialized clinicians target social conversation skills, there is a huge gap: The rise in ASD diagnoses, now 1 in 36 (CDC), far outpaces the availability of these highly-skilled clinicians. As a result, many with ASD have no access to traditional interventions. We introduce Noora, an AI-driven platform featuring conversation modules and LLM-based feedback. It is designed to help those with ASD improve their social communication through specialized exercises in challenging areas. We are starting an approved IRB randomized clinical trial to test Noora’s impact on verbal individuals with ASD. We aim to extend essential evidence-based intervention services to those lacking traditional clinical support and to bolster existing interventions with clinicians with this cost- and time-efficient addition." />
		</div>

		
		
		
	</main>
	<h1 class="text-3xl font-bold underline">

	</h1>
	
</Layout>

<style>
	main {
		font-size: 20px;
		line-height: 1.6;
	}
	
	.header {
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0;
		color: rgb(var(--accent))
	}
	
</style>


