---
import Layout from '../layouts/Layout.astro';
import Person from '../components/Person.astro';
---

<Layout title="Stanford OVAL — Team">
	<main>
		<div class="mx-80 mb-40 ">
		<p class="header mt-10">Team</p>

			
		<h4 class="text-white mt-6 font-semibold " >Senior Members</h4>
		<div class="link-card rounded-xl mt-5 p-4 grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
			<Person image_src="/assets/images/profiles/monica.jpeg" name="Prof. Monica Lam (PI, CS)" href="https://suif.stanford.edu/~lam/"/>
			<Person image_src="/assets/images/profiles/michael.jpeg" name="Prof. Michael Bernstein (CS)" href="https://hci.stanford.edu/msb/"/>
			<Person image_src="/assets/images/profiles/dan.jpeg" name="Prof. Dan Boneh (CS)" href="https://crypto.stanford.edu/~dabo/"/>
			<Person image_src="/assets/images/profiles/edward.jpeg" name="Prof. Edward Y. Chang (CS, Adjunct)" href="http://infolab.stanford.edu/~echang/"/>
			<Person image_src="/assets/images/profiles/james.jpeg" name="Prof. James Landay (CS)" href="https://www.landay.org/"/>
			<Person image_src="/assets/images/profiles/fei-fei.jpeg" name="Prof. Fei-Fei Li (CS)" href="https://profiles.stanford.edu/fei-fei-li"/>
			<Person image_src="/assets/images/profiles/chris-man.jpeg" name="Prof. Chris Manning (CS)" href="https://nlp.stanford.edu/~manning/"/>
			<Person image_src="/assets/images/profiles/david.jpeg" name="Prof. David Mazieres (CS)" href="http://www.scs.stanford.edu/~dm/"/>
			<Person image_src="/assets/images/profiles/chris-re.jpeg" name="Prof. Chris Re (CS)" href="https://cs.stanford.edu/~chrismre/"/>
		</div>


		<h4 class="text-white mt-6 font-semibold " >PhD Students</h4>
		<div class="link-card rounded-xl mt-5 p-4 grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
			<Person image_src="/assets/images/profiles/harshit.png" name="Harshit Joshi" href=""/>
			
		</div>

		<h4 class="text-white mt-6 font-semibold " >Master Students</h4>
		<div class="link-card rounded-xl mt-5 p-4 grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
			
		</div>
		<h4 class="text-white mt-6 font-semibold " >Undergraduate Students</h4>
		<div class="link-card rounded-xl mt-5 p-4 grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
			
		</div>
		<h4 class="text-white mt-6 font-semibold " >PhD Alumni</h4>
		<div class="link-card rounded-xl mt-5 p-4 grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
			
		</div>
		<h4 class="text-white mt-6 font-semibold " >Former Students and Collaborators</h4>
		<p class="text-white italic"> We thank them for their valuable contributions</p>
		<div class="rounded-xl my-5 grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
			<p style="color:rgb(var(--accent-light))" class="text-center"><a href="https://www.linkedin.com/in/alberthchen/">Albert Chen</a></p>
			<p style="color:rgb(var(--accent-light))" class="text-center"><a href="/">Zhiyang He</a></p>
			<p style="color:rgb(var(--accent-light))" class="text-center"><a href="/">Jiaqi Xue</a></p>
			<p style="color:rgb(var(--accent-light))" class="text-center"><a href="/">Aashna Garg</a></p>
			
		</div>

		
		
		
		
	</main>
</Layout>




<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.link-card {
		background-color:#2B1E3F;
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: rgb(var(--accent-off));;
		opacity: 0.8;
	}
	
	p {
		
		margin-bottom: 0;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.header {
		font-size: 5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0;
		color: #D9C5ED

	}

	h3 {
		font-size: 1rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 15px;
		

	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.text-accent {
		color: rgb(var(--accent));
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.swiper {
		width: 600px;
		height: 300px;
		}
	.subheader {
		font-size: 1.2rem;
		color: #D9C5ED
	}
</style>
