---
import Layout from '../layouts/Layout.astro';
import Person from '../components/Person.astro';
---

<Layout title="Stanford OVAL — Team">
	<main>
		<div class="mx-8 md:mx-80 mb-20 ">
		<p class="header mt-10 text-4xl md:text-6xl">Team</p>

			
		<h4 class="mt-6 font-semibold " >Senior Members</h4>
		<div class="link-card rounded-xl mt-5 p-4 grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
			<Person image_src="/assets/images/profiles/monica.jpeg" name="Prof. Monica Lam (PI, CS)" href="https://suif.stanford.edu/~lam/"/>
			<Person image_src="/assets/images/profiles/michael.jpeg" name="Prof. Michael Bernstein (CS)" href="https://hci.stanford.edu/msb/"/>
			<Person image_src="/assets/images/profiles/edward.jpeg" name="Prof. Edward Y. Chang (CS, Adjunct)" href="http://infolab.stanford.edu/~echang/"/>
			<Person image_src="/assets/images/profiles/james.jpeg" name="Prof. James Landay (CS)" href="https://www.landay.org/"/>
			<Person image_src="/assets/images/profiles/fei-fei.jpeg" name="Prof. Fei-Fei Li (CS)" href="https://profiles.stanford.edu/fei-fei-li"/>
			<Person image_src="/assets/images/profiles/chris-man.jpeg" name="Prof. Chris Manning (CS)" href="https://nlp.stanford.edu/~manning/"/>
			<Person image_src="/assets/images/profiles/chris-re.jpeg" name="Prof. Chris Re (CS)" href="https://cs.stanford.edu/~chrismre/"/>
		</div>


		<h4 class="text-white mt-6 font-semibold " >PhD Students</h4>
		<div class="link-card rounded-xl mt-5 p-4 grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
			<Person image_src="/assets/images/profiles/harshit.png" name="Harshit Joshi" href="https://harshitjoshi.com"/>
			<Person image_src="/assets/images/profiles/shicheng.jpeg" name="Shicheng (George) Liu" href="https://george1459.github.io/"/>
			<Person image_src="/assets/images/profiles/sina.jpeg" name="Sina Semnani"/>
			<Person image_src="/assets/images/profiles/jackie.jpeg" name="Jackie Yang" href="https://jackieyang.me/"/>
		</div>

		<h4 class="text-white mt-6 font-semibold " >Master & Undergraduate Students</h4>
		<div class="link-card rounded-xl mt-5 p-4 grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
			<Person image_src="/assets/images/profiles/tommy.jpg" name="Tommy Bruzzese"  href="https://tommybruzzese.com"/>
			<Person image_src="/assets/images/profiles/larsen.jpeg" name="Larsen Weigle"/>
			<Person image_src="/assets/images/profiles/jialiang.jpg" name="Jialiang Xu" href="https://liamjxu.github.io/"/>
			<Person image_src="/assets/images/profiles/yucheng.png" name="Yucheng Jiang"/>
			<Person image_src="/assets/images/profiles/mason.jpg" name="Mason Wang" href="https://masonjwang.com"/>
		</div>

		<h4 class="text-white mt-6 font-semibold " >Friends & Collaborators</h4>
		<div class="link-card rounded-xl mt-5 p-4 grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
			<Person image_src="/assets/images/profiles/yijia.jpeg" name="Yijia Shao" href="https://cs.stanford.edu/~shaoyj"/>
		</div>

		<h4 class=" mt-6 font-semibold " >PhD Alumni</h4>
		<div class="link-card rounded-xl mt-5 p-4 grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
			<Person image_src="/assets/images/profiles/gcampagn.jpeg" name="Giovanni Campagna"  href="https://gcampax.com/" />
			<Person image_src="/assets/images/profiles/mfischer.png" name="Michael Fischer" href="https://www.linkedin.com/in/michael-fischer-818351170/"/>
			<Person image_src="/assets/images/profiles/ranjaykrishna.jpeg" name="Ranjay Krishna" href="https://ranjaykrishna.com/index.html"/>
		</div>

		<h4 class=" mt-6 font-semibold " >Former Students and Collaborators</h4>
		<p class=" italic"> We thank them for their valuable contributions</p>
		<div class="rounded-xl my-5 grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
			<p style="color:rgb(var(--accent))" class="text-center"><a href="https://www.linkedin.com/in/alberthchen/">Albert Chen</a></p>
			<p style="color:rgb(var(--accent))" class="text-center">Zhiyang He</p>
			<p style="color:rgb(var(--accent))" class="text-center">Jiaqi Xue</p>
			<p style="color:rgb(var(--accent))" class="text-center">Aashna Garg</p>
			
		</div>

		<p style="color:rgb(var(--accent))"  class="footer mt-20 text-center"> Website made by <a href="https://tommybruzzese.com">Tommy Bruzzese</a> using React and Astro</p>
		
	</main>
</Layout>




<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h4 {
		color: rgb(var(--accent));
	}
	.link-card {
		background-color: #F6F0E4;
	}
	.footer a {
		color: rgb(var(--accent-bright));
		font-weight: 600;
	}
	
	
	.header {
		
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0;
		color: rgb(var(--accent));

	}

	
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	
</style>
