---

import Button from '../components/Button.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';

const menuitems = [
	
	{
		title: 'Projects',
		path: '/projects',
	},
    {
		title: 'Publications',
		path: '/publications',
	},
	 {
		title: 'Team',
		path: '/team',
	},
    {
		title: 'Join Us',
		path: '/joinus',
	},
];
---

<header style="background-color:#000123; border-bottom: solid; border-color: #1D1E2D;" data-testId="header" class="py-2 flex border-b-red" >
	<Astronav >
        <MenuItems class="flex justify-start" >
			
                <a
                    aria-label="navigation link"
                    href="/"
                    
                    class="flex py-2 text-xl text-white hover:text-orange dark:hover:text-orange font-semibold lg:px-3"
                >
                    Stanford Open Virtual Assistant Lab
                </a>
          
		</MenuItems>
		
		<MenuItems class="flex-1 flex">
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
                                    style="color:rgb(var(--accent-light));"
									class="flex py-2  text-lg text-white hover:text-orange dark:hover:text-orange lg:px-3"
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
				
			</ul>
		</MenuItems>

        <MenuItems class="flex-1 flex justify-end" >
			
             <a href="/projects"> <button  style="background-color:rgb(var(--accent-light)); color:rgb(var(--accent));" class="rounded-lg px-5 py-2 mr-10 text-center transition font-semibold focus-visible:ring-2 ring-offset-2 ring-orange "  size={'sm'} >Try Our Demos</button></a>
          
		</MenuItems>
       
	</Astronav>
</header>