---
interface Props {
	name: string;
	href: string;
	image_src: string;
}

const { href, name, image_src } = Astro.props;
---

<div id={name} class="flex flex-col align-center">
	<a href={href} class="flex flex-col">
		<img src={image_src} class="w-32 h-32 self-center rounded-full "/>
		<p style="color:rgb(var(--accent))" class="text-center">{name}</p>
	</a>
</div>
